<div id="<%= title %>" style="width: 99%;height: 300px"></div>
  <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('<%= title%>'));

    var option = {
      title: {
//        text: "<%= title %>",
      },
      tooltip: {},
      legend: {
        data: "<%= l(:rate)%>"
      },
      xAxis: {
        data: <%=raw chartdata[:datax] %>
      },
      yAxis: {},
        series: [{
          name: "<%= l(:rate)%>",
          type: 'line',
          data: <%= chartdata[:rate]%>
        }]
    };

    myChart.setOption(option);
  </script>
