<% content_for :header_tags do%>
  <%= javascript_include_tag "turbolinks", "highcharts", "highcharts-more", "highstock", :plugin => 'smart_chart' %>
<% end %>
<h2><%= l(:smart_chart_title)%></h2>
<br/>
<div id='chart'><%= render :partial => 'smart_charts/chart', :locals => {:title => @title, :datax => @datax, :datay => @datay, :date => @date, :type => @type} %></div>
<% content_for :sidebar do %>
  <h3><%= l(:chart)%></h3>
  <div><%= link_to l(:department_chart), { :controller => 'smart_charts', :action => 'index'}, :method => :get %></div>
  <div><%= link_to l(:top_ten), { :controller => 'smart_charts', :action => 'top10'}, :method => :get%>
  <% depName.each do |dep| %>
  <div><%= link_to dep, { :controller => 'smart_charts', :action => 'show', :dep => dep}, :method => :get%></div>
  <% end %>
</div>
<% end %>
